body {
    background: rgb(159, 190, 231);
}

content {
    position: absolute;
    left: 20px;
    top: 20px;
}

#setup {
    /* a table */
    width: 60%;
    border-collapse: collapse;
}

table,
th,
td :not(.ftSubmit) {
    border: 1px solid black;
    text-align: center;
}

.digit {
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
}



tr.colnames {
    background-color: rgb(74, 81, 182);
}

tr.greyrow {
    background-color: grey;
}

tr.greyrow th {
    color: white;
    width: 200px;
}

tr.spaced {
    background-color: white;
}

input.noval {
    background-color: lightyellow;
}

input {
    margin-top: .5em;
    margin-bottom: .5em;
}

.ibutton {
    margin: .5em;
}

td.enabled {
    /* will be flashed to show change */
    background-color: yellow;
}

td.disabled {
    /* will be flashed to show change */
    background-color: pink;
}

/* .colT,
.colS {
    width: 200px;
} */

.hidebuttons {
    display: none;
}

span.popup {
    font-size: 80%;
    color: blue;
    font: courier;
    margin-left: 10px;
}

.stripes {
    background: repeating-linear-gradient( 45deg, #ae60bc, #ae60bc 5px, #5d3364 5px, #5d3364 10px);
    background-size: 200% 200%;
    animation: barberpole 4s linear infinite;
}

@keyframes barberpole {
    100% {
        background-position: 100% 100%;
    }
}

@keyframes rotating {
    from {
        transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
        -o-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
    }
}

@-webkit-keyframes rotating {
    from {
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
    }
}

.rotating {
    -webkit-animation: rotating 1s linear infinite;
    -moz-animation: rotating 1s linear infinite;
    -ms-animation: rotating 1s linear infinite;
    -o-animation: rotating 1s linear infinite;
    animation: rotating 1s linear infinite;
}

#spin {
    position: absolute;
    top: -1em;
    font-size: 54px;
    color: red;
}

#percent {
    font-weight: bold;
    text-align: center;
}

#title {
    font-size: 2em;
    margin-top: 0.67em;
    margin-left: 1em;
    align-content: left;
    font-weight: bold;
    width: 40%;
}

tr.colnames th {
    color: white;
}

#job {
    font-size: 1.17em;
    margin-top: 1em;
    margin-right: 1em;
    align-content: right;
    font-weight: bold;
}

.savebutton {
    margin: 0 5 0 5;
    background-color: yellow;
}

.fCol,
.tCol {
    width: 500px;
}

#header {
    align-content: center;
    width: 60%;
}

#header,
#header tr,
#header td {
    border: 0;
}

.inputtable #eftrow {
    border-bottom: 0.5em;
}

#edit_func_type {
    background: blue;
    color: white;
    width: 100%;
}

.changed {
    background: lightsalmon;
}

.backbutton { /* the back to uploads button */
    font: bold 12px Arial;
    text-decoration: none;
    background-color: #EEEEEE;
    color: #333333;
    box-shadow: 2px 3px 3px #888888;
    margin: 5px;
}

.ftSubmit { /* the ft change submit  button */
    background: transparent;
    width: 300px;
    border: 1px solid black;
    margin: 5px;
    font-weight: bold;
}
.submitOn {
    box-shadow: 2px 3px 3px #888888;
    background: yellow;
    cursor: pointer;
}

.inputTable tbody tr {
    background: rgb(235, 235, 235);
}
.inputTable tbody tr.sep {
    background-color: palevioletred;
}
tr.sep > td.sep {
    background-color: grey;
}
.sep {
    height: 0.5em;
}
.inputTable tbody tr {
    border: 1px solid black;
}



#progress {
    font-weight: bold;
    text-align: center;
    width: 100%;
}

tr.spaced > td > input.finput,
tr.spaced > td > input.tinput {
    width: 90%;
}

input {
    font-weight: bold;
}
