body {
    background: rgb(159, 190, 231);
}

content {
    margin-top: 2em;
	display: flex;
	flex-direction: column;
	width: 800px;
}
.chosen-container {
	font-size: 16px;
}
.highlight {
	background: red;
}

div a.chosen-single:not(.chosen-default) {
	background: pink;
}

div a.chosen-single:not(.chosen-default) span {
	color: black;
}

a.chosen-single:not(.chosen-default) span {
	color: white;
	font-weight: bold;
	background-color: inherit;
}

.chosen-container .chosen-drop {
	background-color: #eef;
}

.chosen-container-single .chosen-single {
	border: 2px solid #C7C7F6;
	height: 25px;
}

.chosen-disabled .chosen-single {
	opacity: 0.8 !important;
	cursor: default;
}

h2.task {
	color: white;
	background-color: blue;
	margin-left: 120px;
	text-align: center;
	align-self: center;
	width: 600px;
}

#buttons {
	display: flex;
	margin-left: 3em;
	justify-content: space-around;
}

button {
	font-size: 16px;
	-webkit-border-radius: 28;
	-moz-border-radius: 28;
	border-radius: 14px;
	text-shadow: 3px 2px 1px #9daef5;
	box-shadow: 3px 2px 9px #666666;
	font-family: Arial;
	width: 90px;
	padding: 5px;
	text-decoration: none;
	margin-right: 1em;
}
.pnamealert {
	background: yellow;
}

#reset {
	background: blue;
	color: white;
	margin-left: 100px;
}

#submit {
	background: green;
	color: white;
	margin-left: 100px;
	visibility: hidden;
}

#reset:hover {
	background: #86a3b6;
	
	text-decoration: none;
	color: black;
	box-shadow: 2px 1px 1px #AAAAAA;
}
#submit:hover {
	background: #86b690;
	text-decoration: none;
	color: black;
	box-shadow: 2px 1px 1px #AAAAAA;
}

#new_key_input {
	/* the table */
	margin-left: 100px;
}

#insertNotice {
	margin-top: 4em;
	margin-left: 100px;
	color: white;
	width: 400px;
	font-size: 1.5em;
	text-align: center;
	visibility: hidden;
}

#machine_warning {
	width: 260px;
	color: red;
}

th.field {
	font-size: 16px;
	text-align: right;
	margin-right: 10px;
	color: black;
	width: 200px;
}

td, th {
	padding: 5px;
}

.ins {
	width: 200px;
	height: 1.7em;
	font-size: 14px;
}