/* main.css */

body {
    background: rgb(138, 170, 172);
}

body.replacing {
    background: rgb(120, 127, 168);
}

body.viewing {
    background: rgb(118, 167, 118);
}

container {
    position: absolute;
    width: 100%;
    left: 1em;
    top: 2.8em;
}

content {
    width: 100%;
}

.caretmarker {
    position: relative;
    color: rgb(175, 111, 14);
    font-size: 40px !important;
    cursor: pointer;
    z-index: 1000;
}

.tabouter {
    display: flex;
    align-items: flex-start;
    margin-top: 20px;
    border-top: 4px solid green;
    /* margin-left: 2em; */
    width: 100%;
}

.tabdiv {
    display: flex;
    align-items: baseline;
}

.toolouter {
    display: flex;
    align-items: flex-start;
    border-top: 4px solid green;
    margin-left: 2em;
    width: 90%;
}
.yellow {
    background: yellow;
}
.tooldiv {
    display: flex;
    align-items: flex-start;
}

.tablink, .toollink {
    margin-left: 30px;
    cursor: pointer;
    font-size: 25px;
}

.left {
    text-align: center;
    width: 20px;
}

.digit {
    text-align: center;
    width: 70px;
}

.stepcol {
    text-align: left;
    width: 70px;
}

.tableContainer {
    margin-left: 2em;
    margin-top: 1em;
}

/* toolTable */

.toolTable {
    width: 1200px;
    /* margin-left: 2em;
    margin-top: 1em;
    display: none; */
    height: 500px;
    display: none;
}
.long {
    font-size: 85%;
}
/* tabUL */

.tabUL {
    background: white;
    width: auto;
    margin-left: 2em;
    margin-top: 1em;
    border: 2px solid lightgreen;
    padding: 20px;
}

.sectionRow {
    background-color: #EEEEEE;
}

.stepRowG {
    background: #CCCCCC;
    cursor: pointer;
}
.stepRowW {
    background: white;
    cursor: pointer;
}

/*********/

pageheader {
    position: relative;
    left: -1em;
    padding-left: 30px;
    display: flex;
    align-items: baseline;
    justify-content: flex-start;
    width: auto;
    border: 2px solid black;
    background:  rgb(175, 203, 204);
}
.stitle {
    background: lightgrey;
}
.jobTitle {
    margin-left: 7em;
    font-size: 24px;
    font-weight: bold;
}

.tablink, .sectionlink {
    cursor: pointer; /* not using as link at this time 8/4/19 */
}


.bottomborder {
    border-bottom: 1px solid black;
    font-weight: bold;
}

.pos_off, .tabulator-col-title {
    text-align: center;
}

.na {
    font-size: 80%;
    color: grey;
}

.tabulator-edit-select-list-item {
    background-color: #FBFFD0;
}

.tabulator-cell[tabulator-field=imagelink]:hover {
    background: pink;
}

.tabulator-cell[tabulator-field=imagelink]>a {
    position: relative;
    top: -5px;
    font-size: 20px;
}

.show_edit {
    font-size: 14px;
    margin-left: 12px;
    width: 8em;
}

span.replaceIndicator {
    color: white;
    font-size: 20px;
    background: red;
    visibility: hidden;
}

.tinyToast {
    background-color: rgb(255, 207, 51) !important;
    border-radius: 5px !important;
    font-size: 14px !important;
    height: 40px;
    width: 180px;
    color: '#333';
    position: relative !important;
    border: 1px solid rgb(255, 207, 51) !important;
    padding-top: 0.55em !important;
    z-index: 1000;
}

.tinytoast>h3 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
span.noimages {
    color: rgb(167, 97, 97);
}

.tabulator-row {
    height: 31px;
}