/* main.css */
body {
    background: rgb(138, 170, 172);
}
body.replacing {
    background: rgb(120, 127, 168);
}
body.viewing {
    background: rgb(118, 167, 118);
}
container {
    position: absolute;
    width: 100%;
    left: 1em;
    top: 2.8em;
}

content {
    width: 100%;
}

.caretmarker {
    color: rgb(175, 111, 14);
    font-size: 40px;
    cursor: pointer;
}
.tabouter{
    display: flex;
    align-items: flex-start;
    margin-top: 20px;
    border-top: 4px solid green;
    /* margin-left: 2em; */
    width: 100%;
}
.tabdiv{
    display: flex;
    align-items: baseline;
}
.toolouter {
    display: flex;
    align-items: flex-start;
    border-top: 4px solid green;
    margin-left: 2em;
    width: 90%;
}
.tooldiv {
    display: flex;
    align-items: flex-start;
}
.toollink {
    margin-left: 30px;
    cursor: pointer;
}

.left {
    text-align: center;
    width: 20px;
}

.digit {
    text-align: center;
    width: 70px;
}
.stepcol {
    text-align: left;
    width: 70px;
}
.tableContainer {
    margin-left: 2em;
    margin-top: 1em;
   
}
/* toolTable */
.toolTable {
    width: 1200px;
    /* margin-left: 2em;
    margin-top: 1em;
    display: none; */
    height: 500px;
    display: none;
}
/*
.toolTable, .toolTable th, .toolTable td {
    border: 1px solid black;
    text-align: center;
}

.toolTable tr.colnames {
    background-color: lightgreen;
}

.toolTable tr.greyrow {
    background-color: grey;
}

.toolTable tr.greyrow th {
    color: white;
    width: 100px;
}

.toolTable tr.slightgrey {
    background-color: #EEEEEE;
}

.toolTable tr.nogrey {
    background-color: white;
}

.toolTable td.left a:link {
    text-decoration: none;
} */



/* tabUL */

.tabUL {
    background: white;
    width: 60%;
    margin-left: 2em;
    margin-top: 1em;
    border: 2px solid lightgreen;
}
.sectionRow {
    background-color: #EEEEEE;
}
.stepRow {
    background: #CCCCCC;
}

/*********/

pageheader {
    display: flex;
    align-items: baseline;
    justify-content: flex-start;
    width: 60%;
    border-bottom: 2px solid black;
}

.jobTitle {
    margin-left: 7em;
    font-size: 24px;
    font-weight: bold;
}
.tablink, .sectionlink, .steplink {
    cursor: pointer;
}
.tablink {
    margin-left: 30px;
}
.bottomborder {
    border-bottom: 1px solid black;
    font-weight: bold;
}
.pos_off, .tabulator-col-title {
    text-align: center;
}
.na {
    font-size: 80%;
    color: grey;
}
.tabulator-edit-select-list-item {
    background-color: #FBFFD0;
}
.tabulator-cell[tabulator-field=imagelink]:hover {
    background: pink;
}
.tabulator-cell[tabulator-field=imagelink] > a {
    position: relative;
    top: -5px;
    font-size: 20px;
}
.show_edit {
    font-size: 14px;
    margin-left: 12px;
    width: 8em;
}
span.replaceIndicator {
    color: white;
    font-size: 20px;
    background: red;
    visibility: hidden;
}
