body{
    background:rgb(138, 170, 172);
}

content {
	position: absolute;
	left: 20px;
	top: 50px;
    width: 80%;
}
#setup { /* a table */
    width: 60%;
    border-collapse: collapse;
}
table, th, td {
   border: 1px solid black;
   text-align: center;
}
.left {
    text-align: center;
    width: 20px;
}
.digit {
    text-align: center;
    width: 70px;
}
tr.colnames {
    background-color: lightgreen;
}
tr.greyrow {
    background-color: grey;
}
tr.greyrow th {
    color: white;
    width: 100px;
}

tr.slightgrey {
    background-color: #EEEEEE;
}

tr.nogrey {
    background-color: white;
}
td.left a:link {
    text-decoration: none;
}

#header {
    align-content: center;
    width: 60%;
}
#header, #header tr, #header td {
    border: 0;
}
