body {
    background: rgb(159, 190, 231) !important;
}

container {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* margin-left: 2em; */
    top: 4.8em;
}
.bar {
    border: 2px solid grey;
    height: 2px;
    width: 80%;
    background: grey;
}
.row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top: -3em;
}
.row > div {
    background: rgb(221, 219, 219);
    padding-top: 10px;
    padding-bottom: 10px;
}
.controls {
    background: transparent !important;
} 
.collabel {
    text-align: center;
    font-weight: bold;
    color: black;
    font-size: 18px;
}
spec_tools {
    display: none;
}
actions {
    margin-top: 1em;
}

actions > .btn {
    width: 80px;
    
}
#reset, #cancel {
    margin-left: 2em;
}

.btn-lightblue {
    background: lightblue;
}

pageheader {
    display: flex;
    align-items: baseline;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 80%;
    background: rgb(221, 219, 219);
}

.jobTitle {
    margin-left: 1em;
    color: blue;
}
