body {
    background: lightblue;
}




#job,
#top {
    display: block;
    font-size: 1.17em;
    margin-left: 1em;
    font-weight: bold;
    border: 30px;
}

#top {
    font-size: 1.37em;
    padding-left: 30px;
}

.jobul {
    padding: 20px;
    width: 500px;
    background: rgb(245, 241, 241);
}
input {
    width: 225px;
}

#top {
    display: flex;
    align-items: center;
}

ul {
    list-style-type: none;
    background: white;
}

.tabsep {
    height: 15px;
}

.ui-state-default {
    border: 0 solid transparent;
}

li.tabame {
    width: 90%;
    position: relative;
    left: 0.3em;
    top: 0.3em;
    font-weight: bold;
}

.sectionul {
    background: #eeeeee;
}

li.sectionname {
    background: #eeeeee;
}

li.sectionname {
    width: 80%;
}

li.stepname {
    width: 95%;
}

li.ui-sortable-handle {
    border: 2px solid rgb(128, 128, 128);
    margin: 3px 0 3px 0;
}

li.tabname.ui-sortable-handle {
    border: 5px solid #33B8FF;
    margin: 8px 0 3px 0;
}

.dflex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgb(224, 222, 222);
}

.dflexempty {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.dflexnull {
    /* Todo: do we need this ?? */
    display: flex;
    align-items: center;
    justify-content: space-between;
}



.sectionname {
    margin-bottom: 10px;
}

.sectionul {
    margin-top: 10px;
}



.trash {
    font-size: 14px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: brown;
    padding: 2px;
}

.arrow {
    font-size: 14px;
    cursor: move;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: blue;
    border: none;
    margin-right: 10px;
}

.adddiv {
    width: 15%;
    text-align: center;
}

.addcircle {
    position: relative;
    z-index: 200;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
    outline: none;
    color: yellow;
    border: none;
}

li.deleted {
    display: none;
}

#save_button {
    margin-left: 30px;
    text-decoration: none;
    color: #fff;
    background-color: #538fbe;
    padding: 10px 20px;
    font-size: 16px;
    border: 1px solid #163853;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#save_button:hover,
#save_button:active {
    background: blue;
}

.empty {
    /* for add a tab, and add a step */
    background: grey;
}

li.sectionname.empty {
    /* for add a section */
    background: grey;
}

input.tabstyle {
    font-weight: bold;
    font-size: 18px;
    color: red;
    margin-left: -50px;
}

input.sectionstyle {
    font-weight: bold;
    font-size: 16px;
    color: rgb(35, 110, 103);
    margin-left: -20px;
}

input.stepstyle {
    font-weight: bold;
    font-size: 14px;
    color: blue;
}

.emptyinput {
    width: 85%;
}

.newJob {
    color: red;
    font-weight: bold;
    font-size: 24px;
}

::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: red;
    opacity: 1;
    /* Firefox */
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: red;
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: red;
}

.indent {
    margin-left: 1.5em;
}


.text {
    background-color: rgb(0, 255, 21);
    font-size: 12px;
    padding: 4px;
}

.pagetitle {
    font-size: 24px;
    margin-right: 1em;
}

#job {
    margin-left: 2em;
}
hr {
    width: 92%;
    padding: 0 1em 0 1em;
}
start {
    display: flex;
    margin-bottom: 1em;
    align-items: center;
    align-content: flex-start;
}
spin {
    font-size: 54px;
    color: red;
}

/* navigation */
nav {
    display: flex;
    align-items: center;
    align-content: flex-start;
    margin-left: 1.5em;
    width: 700px;
    height: 40px;
    background: tan;
}

.nav.anchor img {
    height: 28px;
}

.navCell {
    position: relative;
    width: 25%;
}


.navButton {
    margin-left: 15%;
    margin-right: 15%;
    width: 70%;
    cursor: pointer;
    height: 30px;
}


#home_button img {
    height: 30px;
    vertical-align: middle;
}


#home_button {
    /* uses image */
    background: transparent;
    border: transparent;
}

#tabupload_button {
    background: white;
}

#tabupload_button:hover {
    background: rgb(0, 255, 21);
}

#run {
    background: white;
    color: black;
}

#run:hover {
    background: blue;
    color: white;
}

