content {
    position: absolute;
    left: 20px;
    top: 50px;
    width: 50%;
}

#expand {
    position: fixed;
    top: 93px;
    z-index: 50;
    color: hotpink;
}
#image-gallery {
    position: fixed;
}

#image-gallery img {
    height: 500px;
    top: 65px;
}

button.checkAllDel {
    font-size: 60%;
    border-radius: 8px;
    width: 49px;
}
.doAll {
    background: rgb(192, 192, 248);
}
.undoAll {
    background: rgb(247, 248, 192);
}

single p {
    position: fixed;
    top: 610px;
}

single h4 {
    position: fixed;
    top: 45px;
    font-size: 70%;
}

single h2 {
    position: fixed;
    top: 50px;
}

single:hover {
    z-index: 5;
}

.headtext {
    background: lightgreen;
    display: block;
    margin-top: 1.33em;
    margin-bottom: 1.33em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

#floatMenu {
    position: fixed;
    top: 85px; /* down a bit to accomodate long type/function names */
    right: 20px;
    margin-left: 40px;
    width: 250px;
    z-index: 0;
    max-height: 550px;
    overflow-y: auto;
}

#floatMenu ul {
    margin-bottom: 20px;
    list-style: none;
    background: #ccc;
    color: #222;
    padding-left: 10px;
    font-size: 115%;
}

#floatMenu ul a {
    background: lightgreen;

    color: black;
    font-weight: bold;
    font-size: 50%;
}

#floatMenu ul li a {
    display: block;
    border: 2px solid #999;
    background-color: #222;
    /*border-left:6px solid #999;*/
    text-decoration: none;
    color: #ccc;
    padding: 5px 5px 5px 5px;
}

#floatMenu ul li a:hover, #floatMenu ul a:hover {
    border-color: yellow;
}

a.anchor {
    display: block;
    position: relative;
    top: -60px;
    visibility: hidden;
}

.pic {
    border: 20px;
    background: white;
    color: #222;
    border-bottom: 1px solid black;
}
.highlight {
    background: rgb(240, 240, 131);
}

.img-wrap {
    position: relative;
    display: inline-block;
    font-size: 0;
}

.img-wrap img {
    border: 4px solid transparent;
}

.img-wrap .close {
    position: absolute;
    top: 4px;
    right: 4px;
    z-index: 100;
    background-color: lightgrey;
    padding: 5px 2px 4px;
    color: #000;
    font-weight: bold;
    cursor: pointer;
    opacity: .3;
    text-align: center;
    font-size: 22px;
    line-height: 10px;
    border-radius: 50%;
}
 .ckbx {
    position: absolute;
    top: 82px;
    right: 6px;
    z-index: 100;
    
    cursor: pointer;
    transform: scale(1.2);
    position: absolute;
    top: 82px;
    right: 6px;
    z-index: 100;
} 

.img-wrap:hover .close {
    opacity: 1;
}

#floatButton {
    float: right;
    margin-right: 40px;
    margin-top: 6px;
    background: blue;
    color: white;
}

.hidden {
    display: none;
}

#job {
    position: absolute;
    top: 2.5em;
    left: 0.5em;
    font-size: 1em;
    font-weight: bold;
    max-width: 30%;
    max-height: 2.2em;
    overflow-x: hidden;
    overflow-y:hidden;
}



.redUndo {
    color: red;
    text-shadow: 1px 1px 4px grey;
    margin-left: 0.8em;
    font-size: 16px;
}

.redUndo:hover {
    background: lightyellow;
    cursor: pointer;
}

.horiz {
    display: inline-block;
}
main {
    margin-top: 1em;
}
#undoMenu {
    display: none;
    position: fixed;
    
    /* top: 80px;
    left: 530px; */
    margin-left: 35%;
    /* margin-right: 40px; */
    width: 250px;
    z-index: 500;
    
    border: 10px solid blue;
    background: white;
    border-radius: 12px;
}

#undoMenu p {
    margin-top: 10px;
    margin-left: 20px;
    color: black;
    font-weight: bold;
}

#undoMenu ul {
    padding-left: 10px;
    overflow-y: auto;
    max-height: 550px;
}

#undoMenu ul li {
    margin-top: 10px;
    margin-bottom: 10px;
}

#undoMenu ul li img {
    height: 80px;
}

#undoButtons {
    display: flex;
    flex-direction: row;
    margin: 0px 20px 10px 20px;
    background: white;
    
}

#undoButtons>input[value="Submit"] {
    margin-right: 40px;
    background: blue;
    color: white;
    cursor: pointer;
    border-radius: 8px;
}
#undoButtons>input[type=Submit]:disabled {
    background: #dddddd;
}

#undoButtons>input[value="Cancel"] {
    background: red;
    color: white;
    cursor: pointer;
    border-radius: 12px;
}

#checkAll {
    background: lightblue;
    color: black;
    cursor: pointer;
    border-radius: 12px;
}

p.comment:hover {
    cursor: pointer;
}



#Fullscreen {
    height: 100%;
    display: none;
    position: fixed;
    z-index: 499;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
}

#Fullscreen img {
    height: 100%;
    display: block;
    margin: 0 auto;
    cursor: url("/images/contract.png"), pointer;
}

#tadiv {
    display: none;
    /* display: flex; when running */
    background: grey;
    position: fixed; /* so does not scroll with page */
    top: 120px;
    left: 300px;
    flex-direction: column;
    z-index: 1000;
    align-items: center;
    justify-content: center;
    border: 10px solid blue;
    background: white;
    border-radius: 12px;
}

#ta {
    background: white;
}

#taButtons {
    /* margin: 5px 0 10px 0; */
    display: flex;
    flex-direction: row;
    font-weight: bold;
}

#taButtonCancel {
    margin: 5px 0px 10px 30px;
    background: red;
    color: white;
    cursor: pointer;
}

#taButtonUpdate {
    margin: 5px 30px 10px 0px;
    background: blue;
    color: white;
    cursor: pointer;
}

.w3-bar span {
    color: grey;
}

.w3-bar span.bold {
    color: black;
    font-weight: bold;
}

single .comment {
    width: 650px;
    overflow-y: auto;
    max-height: 70px;
}

content {
    margin-top: 1em;
    width: 90%;
    display: inline-flex;
}
pictures {
    /* float: left; */
    order: 1;
    flex-basis: 30%;
    /* margin-left: 50px;
    margin-top: 10px;
    margin-right: 50px; */
    /* width: 30%; */
    /* display: inline-block; */
}

single {
    order: 2;
    margin: 3em 0 0 3em;
    /* display: inline-block; */
    /* position: absolute; */
    /* left: 600px; */
}

#img-gallery {
    /* display: relative; */
    top: 2.0em;
    margin-top: 1em;
}



