content {
	position: absolute;
	left: 20px;
	top: 50px;
    width: 50%;
}
pictures {
	float: left;
    margin-left: 50px;
    margin-top: 50px;
    margin-right: 50px;
	width: 60%;
}
single {
	/*margin-left: 30px;*/
    position: fixed;
    left: 600px;
}
single img {
    position: fixed;
	top: 120px;
    height: 600px;
   
}
single p {
    position: fixed;
	top: 710px;
}
single h4 {
    position: fixed;
    top: 45px;
    font-size: 70%;
}
single h2 {
    position: fixed;
    top: 50px; 
}

.pic {
    border: 20px;
	/*margin-right: 300px;*/
    /*width: 30%;*/
	background-color: white;
	color: #222;
    border-bottom: 1px solid black;
}
.pic img {
    margin: 10px;
    border: 4px solid transparent;
}
.pic a p {
    font-weight: bold;
}
.headtext {
    background: lightgreen;
    display: block;
    margin-top: 1.33em;
    margin-bottom: 1.33em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

#floatMenu {
    position: absolute;
    top: 40px;
    right: 50px;
    margin-left: 40px;
    width: 200px;
}

#floatMenu ul {
    margin-bottom:20px;
    list-style: none;
    background:#ccc;
    color:#222;
    padding-left: 10px;
}

#floatMenu ul a {
    background: lightgreen;;
    color: black;
    font-weight: bold;
    font-size: 115%;
}

#floatMenu ul li a {
    display: block;
    border: 2px solid #999;
    background-color: #222;
    /*border-left:6px solid #999;*/
    text-decoration: none;
    color: #ccc;
    padding: 5px 5px 5px 5px;
}
#floatMenu ul li a:hover, #floatMenu ul a:hover {
    border-color:yellow;
}
a.anchor {
    display: block;
    position: relative;
    top: -60px;
    visibility: hidden;
}
