body{
    background:cadetblue;
}

content {

	position: absolute;
	left: 20px;
    top: 20px;

    /*width: 80%;*/
   /* margin: 0 auto;*/
}
#setup { /* a table */

    width: 60%;
    border-collapse: collapse;
}
table, th, td {
   border: 1px solid black;
   text-align: center;
}

.digit {
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
}
tr.sep {
    height: 0.5em;
    background-color: palevioletred;
}
tr.colnames {
    background-color: lightgreen;
}
tr.greyrow {
    background-color: grey;
}
tr.greyrow th {
    color: white;
    width: 200px;
    /*border: solid blue 5px; */
}

tr.spaced {
    background-color: white;
}
input.noval {
    background-color: lightyellow;
}
input {
    margin-top: .5em;
    margin-bottom: .5em;
}
.ibutton {
    margin: .5em;
}
td.enabled { /* will be flashed to show change */
    background-color: yellow;
}
td.disabled { /* will be flashed to show change */
    background-color: pink;
}
.colT, .colS {
    width: 200px;
}
/* HOVER STYLES */
div#pop-up {
  display: none;
  position: absolute;
  width: 280px;
  padding: 0 5px 0 5px;
  background: #eeeeee;
  border: 1px solid #1a1a1a;
}
span.popup {
    font-size: 80%;
    color: blue;
    font: courier;
    /*line-height:100%;*/
    margin-left: 10px;
}

#title {
    font-size: 2em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
    color: yellow;
}
#job {
    font-size: 1.17em;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 6em;
    font-weight: normal;
}
header {
    display: table;
    margin-left: 6em;
    margin-bottom: 2em;
}

.savebutton{
    margin: 0 5 0 5;
    background-color: yellow;
}
.fCol, .tCol {
    width: 500px;
}








