<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon" />
	<link rel="icon" href="/img/favicon.ico" type="image/x-icon" />
	<title>Tools Upload</title>
	<script type="text/javascript" src="/js/jquery_min_3.4.1.js"></script>
	<link rel="stylesheet" href="/css/jquery-ui-1.12.1.custom/jquery-ui.min.css" />
	<link rel="stylesheet" href="/css/jquery-ui-1.12.1.custom/jquery-ui.theme.min.css" />
	<script src="/css/jquery-ui-1.12.1.custom/jquery-ui.min.js"></script>

	<script defer src="/fontawesome-free-5.10.2-web/js/all.min.js"></script>

	<link rel="stylesheet" href="/css/jquery-confirm.css" />
	<script src="/js/jquery-confirm.js"></script>

	<script type="application/javascript" src="/js/spec_tools_upload.js"></script>
</head>

<body>
	<spec_type><%= spec_type =></spec_type>
		<div class="navDropDownButton"></div>
		<navDropDown></navDropDown>
		<div class="topnav" id="myTopnav"></div>
		<container>
			<!-- <spin class="rotating"><i class="fas fa-spinner fa-pulse"></i></spin> -->
			<h1><%= spec_type %></h1>
		</container>
</body>

</html>